In [43]:
import pandas as pd

# Мы уже много раз работали с read_csv, поэтому не будем говорить о нем подробно. 
# Важно помнить, что у него есть ряд дополнительных параметров, которые могут быть полезными:

# ● header = None — загрузить без строки с заголовком,
# ● skiprows = n — пропустить n строк (часто у документов бывает техническая «шапка»),
# ● encoding — загрузить в конкретной кодировке,
# ● na_values — список значений, который нужно заменить на NaN (специальный объект, обозначающий пропущенное значение).

log = pd.read_csv('csv/b4/log.csv', header = None)

print(log)

                                    0                     1        2        3
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN      NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN      NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN      NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN      NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN      NaN
..                                ...                   ...      ...      ...
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0      NaN
996                            #error                   NaN  10054.0  29265.0
997                            #error                   NaN  10454.0      NaN
998                            #error                   NaN   1000.0      NaN
999                            #error                   NaN  10754.0      NaN

[1000 rows x 4 columns]

In [76]:
# 4.5.1
# Загрузите файл sample.csv в переменную sample, сохраните колонки в переменную columns:
import pandas as pd
sample = pd.read_csv('csv/b4/sample.csv')
print(sample.Age)
columns = sample.columns
print(columns)

0     25
1     31
2     25
3     43
4     50
5     19
6     29
7     32
8     36
9     55
10    42
Name: Age, dtype: int64
Index(['Name', 'City', 'Age', 'Profession'], dtype='object')

In [23]:
# 4.5.2
# Список колонок можно не только считать, но и заменить.
# Например, если вы хотите присвоить датафрейму df новый список колонок, то сделать это можно так
# df.columns = ['new_col_name_1', 'new_col_name_2', 'new_col_name_3', 'new_col_name_4']
# Создайте в sample заголовки колонок так, чтобы там были только маленькие буквы. 
# Например, вместо 'Age' нужно сделать 'age':
new_columns = [''] * len(columns)
for i in range(len(columns)):
    new_columns[i] = columns[i].lower()
print(new_columns)
sample.columns = new_columns

['name', 'city', 'age', 'profession']

In [53]:
# 4.5.3
# Давайте применим полученные знания для нашего датафрейма: замените в log заголовки колонок на:
# ● user_id
# ● time
# ● bet
# ● win
log.columns = ['user_id', 'time', 'bet', 'win']
print(log)

                              user_id                  time      bet      win
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN      NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN      NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN      NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN      NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN      NaN
..                                ...                   ...      ...      ...
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0      NaN
996                            #error                   NaN  10054.0  29265.0
997                            #error                   NaN  10454.0      NaN
998                            #error                   NaN   1000.0      NaN
999                            #error                   NaN  10754.0      NaN

[1000 rows x 4 columns]

In [37]:
# 4.6.1
# Посмотрите, какие параметры есть у функции read_csv: в чём может быть ошибка?
# С помощью правильных параметров read_csv загрузите датафрейм:
    
users = pd.read_csv('csv/b4/users.csv', sep='\t', encoding='koi8_r')

users.head(5)

     Юзверь                 мейл        Гео
0  User_943  Accumanst@gmail.com     Ижевск
1  User_908    Advismowr@mail.ru     Ижевск
2  User_962      Anachso@ukr.net  Краснодар
3  User_973     Antecia@inbox.ru      Пермь
4  User_902   Balliaryva@ukr.net        NaN

In [ ]:
# 4.6.2
# Прочитайте файл в переменную users. Замените в нём названия колонок на:
# ● user_id
# ● email
# ● geo
users.columns = ['user_id', 'email', 'geo']

In [42]:
# 4.7.1. 
# Посмотрите все уникальные значения в sample.csv.
# Какие ошибки вы видете в колонке Name?
sample.nunique()
print(sample)

            name         city  age profession
0         Иванов       Москва   25     Клинер
1            NaN    Волгоград   31   Менеджер
2         Иванов       Москва   25     Клинер
3        sidorov  Владивосток   43   Менеджер
4        _______        Курск   50   Водитель
5       Кузнецов         Сочи   19    Рабочий
6          Сажин       Сургут   29    Рабочий
7   Котлеревский   Йошкар-Ола   32    Рабочий
8     Завалишина    Чебоксары   36   Менеджер
9         Левина          NaN   55    Рабочий
10          Фикс         Рига   42    Рабочий

In [48]:
# 4.8.1
# Создайте новый датафрейм sample2, в который будут входить только записи о людях в возрасте меньше 30 лет.
sample2 = sample[sample.age < 30]

print(sample2)

       name    city  age profession
0    Иванов  Москва   25     Клинер
2    Иванов  Москва   25     Клинер
5  Кузнецов    Сочи   19    Рабочий
6     Сажин  Сургут   29    Рабочий

In [56]:
# 4.8.2
# Создайте новый датафрейм log_win, в который будут входить только записи, где пользователь выиграл. 
# Посчитайте, сколько таких записей, и сохраните в переменной win_count.
log.columns = ['user_id', 'time', 'bet', 'win']
log_win = log[log['win'] > 0]
win_count = len(log_win)
print(win_count)

138

In [59]:
# 4.8.3
# Создайте новый датафрейм sample2, в который будут входить только записи о рабочих младше 30 лет.
sample2 = sample[(sample.age < 30) & (sample.profession == 'Рабочий')]
print(sample2)

       name    city  age profession
5  Кузнецов    Сочи   19    Рабочий
6     Сажин  Сургут   29    Рабочий

In [61]:
# 4.9.1
# С помощью функции query найдите тех, у кого ставка меньше 2000, а выигрыш больше 0. 
# Сохраните в новый датафрейм log2.
log2 = log.query('bet < 2000 & win > 0')
print(log2)

                              user_id                  time     bet     win
151  Запись пользователя № - user_982  [2019-01-16 21:54:22   100.0  4749.0
189  Запись пользователя № - user_964  [2019-01-21 18:34:44   200.0  4667.0
205  Запись пользователя № - user_931   [2019-01-22 5:26:59   300.0  4319.0
232  Запись пользователя № - user_998   [2019-01-25 8:57:20   500.0  5069.0
265  Запись пользователя № - user_998  [2019-01-29 10:37:55   500.0  6294.0
..                                ...                   ...     ...     ...
962  Запись пользователя № - user_976  [2019-04-19 14:18:45   400.0  5997.0
965  Запись пользователя № - user_900  [2019-04-19 19:31:48   900.0  6767.0
967  Запись пользователя № - user_975  [2019-04-19 22:25:15  1000.0  6108.0
981                            #error                   NaN   800.0  7035.0
991  Запись пользователя № - user_965  [2019-04-20 12:55:41   800.0  6927.0

[113 rows x 4 columns]

In [65]:
# 4.10.1
# Найдите записи, где в городах есть буква «о», и сохраните в переменную sample3.
# Функция contains не может работать с пустыми значениями: необходимо использовать параметр na = False
sample3 = sample[sample.city.str.contains('о', na = False)]
print(sample3)

           name         city  age profession
0        Иванов       Москва   25     Клинер
1           NaN    Волгоград   31   Менеджер
2        Иванов       Москва   25     Клинер
3       sidorov  Владивосток   43   Менеджер
5      Кузнецов         Сочи   19    Рабочий
7  Котлеревский   Йошкар-Ола   32    Рабочий
8    Завалишина    Чебоксары   36   Менеджер

In [67]:
# 4.10.2
# Найдите записи, где в городах нет буквы "о", и сохраните в переменную sample4. 
# Не забудьте про NaN и параметр na:
sample4 = sample[sample.city.str.contains('о', na = True) == False]
print(sample4)

       name    city  age profession
4   _______   Курск   50   Водитель
6     Сажин  Сургут   29    Рабочий
10     Фикс    Рига   42    Рабочий

In [71]:
# 4.10.3
# Сохраните в переменную new_log датафрейм, из которого удалены записи с ошибкой в поле user_id.
new_log = log[log.user_id.str.contains('#error', na = True) == False]
print(new_log)

                              user_id                  time      bet     win
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN     NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN     NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN     NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN     NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN     NaN
..                                ...                   ...      ...     ...
991  Запись пользователя № - user_965  [2019-04-20 12:55:41    800.0  6927.0
992  Запись пользователя № - user_967  [2019-04-20 14:59:36  10154.0     NaN
993  Запись пользователя № - user_973  [2019-04-20 17:09:56  10254.0     NaN
994  Запись пользователя № - user_977  [2019-04-20 18:10:07  10354.0     NaN
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0     NaN

[985 rows x 4 columns]

In [98]:
# 4.11.1
# С помощью apply и лямбда-функции увеличьте возраст во всех записях на 1 год и сохраните в sample2:
sample = pd.read_csv("csv/b4/sample.csv")
print(sample.Age)
sample2 = sample
sample2.Age = sample.Age.apply(lambda x: x+1)
print(sample2)

0     25
1     31
2     25
3     43
4     50
5     19
6     29
7     32
8     36
9     55
10    42
Name: Age, dtype: int64
            Name         City  Age Profession
0         Иванов       Москва   26     Клинер
1            NaN    Волгоград   32   Менеджер
2         Иванов       Москва   26     Клинер
3        sidorov  Владивосток   44   Менеджер
4        _______        Курск   51   Водитель
5       Кузнецов         Сочи   20    Рабочий
6          Сажин       Сургут   30    Рабочий
7   Котлеревский   Йошкар-Ола   33    Рабочий
8     Завалишина    Чебоксары   37   Менеджер
9         Левина          NaN   56    Рабочий
10          Фикс         Рига   43    Рабочий

In [117]:
# 4.11.2
# С помощью apply и lambda-функции замените все буквы в поле City на маленькие и сохраните в sample2. 
# Вам может понадобиться функция s.lower().
# Обратите внимание: когда в столбце есть пропущенные значения, необходимо в явном виде указывать, что это str.
sample = pd.read_csv("csv/b4/sample.csv", na_values=str, keep_default_na=True)
sample2 = sample
sample2.City = sample.City.apply(lambda s: str(s).lower())
print(sample2)

            Name         City  Age Profession
0         Иванов       москва   25     Клинер
1            NaN    волгоград   31   Менеджер
2         Иванов       москва   25     Клинер
3        sidorov  владивосток   43   Менеджер
4        _______        курск   50   Водитель
5       Кузнецов         сочи   19    Рабочий
6          Сажин       сургут   29    Рабочий
7   Котлеревский   йошкар-ола   32    Рабочий
8     Завалишина    чебоксары   36   Менеджер
9         Левина          nan   55    Рабочий
10          Фикс         рига   42    Рабочий

In [120]:
# 4.11.3
# Напишите функцию profession_code, которая на вход получает строку, а на выход возвращает:
# 0 — если на вход поступила строка "Рабочий"
# 1 — если на вход поступила строка "Менеджер"
# 2 — в любом другом случае
def profession_code(s):
    if s == 'Рабочий':
        return 0
    elif s == 'Менеджер':
        return 1
    else:
        return 2

In [139]:
# 4.11.4
# Примените функцию profession_code для того, чтобы заменить поле Profession с помощью apply. 
# Сохраните получившийся датафрейм в переменную sample2.
# Функцию необходимо определить повторно!
sample = pd.read_csv("csv/b4/sample.csv")
sample2 = sample
sample2.Profession = sample.Profession.apply(profession_code)
print(sample)

            Name         City  Age  Profession
0         Иванов       Москва   25           2
1            NaN    Волгоград   31           1
2         Иванов       Москва   25           2
3        sidorov  Владивосток   43           1
4        _______        Курск   50           2
5       Кузнецов         Сочи   19           0
6          Сажин       Сургут   29           0
7   Котлеревский   Йошкар-Ола   32           0
8     Завалишина    Чебоксары   36           1
9         Левина          NaN   55           0
10          Фикс         Рига   42           0

In [141]:
# 4.11.5
# Напишите функцию age_category, которая на вход получает число, а на выход отдаёт:
# ● "молодой" — если возраст меньше 23
# ● "средний" — если возраст от 23 до 35
# ● "зрелый" — если возраст больше 35
def age_category(age):
    if age < 23:
        return 'молодой'
    elif age < 35:
        return 'средний'
    else:
        return 'зрелый'

In [161]:
# 4.11.6
# Примените функцию age_category и apply, чтобы создать новую колонку в sample под названием 'Age_category'. 
# Не забудьте загрузить датафрейм.
# Вспомним, как создать новую колонку:
# df['new_column'] = df.old_column.apply(func
sample = pd.read_csv("csv/b4/sample.csv")
sample['Age_category'] = sample.Age.apply(age_category)

print(sample)

            Name         City  Age Profession Age_category
0         Иванов       Москва   25     Клинер      средний
1            NaN    Волгоград   31   Менеджер      средний
2         Иванов       Москва   25     Клинер      средний
3        sidorov  Владивосток   43   Менеджер       зрелый
4        _______        Курск   50   Водитель       зрелый
5       Кузнецов         Сочи   19    Рабочий      молодой
6          Сажин       Сургут   29    Рабочий      средний
7   Котлеревский   Йошкар-Ола   32    Рабочий      средний
8     Завалишина    Чебоксары   36   Менеджер       зрелый
9         Левина          NaN   55    Рабочий       зрелый
10          Фикс         Рига   42    Рабочий       зрелый

In [165]:
# 4.11.7
# Преобразуем поле user_id в датафрейме log, оставив только идентификатор пользователя. 
# Например, вместо "Запись пользователя № — user_974" должно остаться только "user_974".

# На месте записей с ошибками в user_id должна быть пустая строка "". 
# Сделайте это через apply и новую функцию, которую вы создадите. Результат сохраните в log:
def user_id_fix(user_id):
    if 'Запись ' in user_id:
        user_id = user_id.replace('Запись пользователя № - ', '')
    elif 'error' in user_id:
        user_id = ''
    return user_id

log = pd.read_csv('csv/b4/log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.user_id = log.user_id.apply(user_id_fix)
print(log)

      user_id                  time      bet      win
0    user_919  [2019-01-01 14:06:51      NaN      NaN
1    user_973  [2019-01-01 14:51:16      NaN      NaN
2    user_903  [2019-01-01 16:31:16      NaN      NaN
3    user_954  [2019-01-01 17:17:51      NaN      NaN
4    user_954  [2019-01-01 21:31:18      NaN      NaN
..        ...                   ...      ...      ...
995  user_984   [2019-04-20 9:59:58   9754.0      NaN
996                             NaN  10054.0  29265.0
997                             NaN  10454.0      NaN
998                             NaN   1000.0      NaN
999                             NaN  10754.0      NaN

[1000 rows x 4 columns]

In [169]:
# 4.11.8
# Загрузите log.csv в log. Удалите квадратную скобку из первой строки в столбце time, 
# чтобы привести его к более привычному формату: t равен log.time[0]. Сохраните результат в t:
log = pd.read_csv('csv/b4/log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.time = log.time.apply(lambda x: str(x).replace('[', ''))
print(log)

                              user_id                 time      bet      win
0    Запись пользователя № - user_919  2019-01-01 14:06:51      NaN      NaN
1    Запись пользователя № - user_973  2019-01-01 14:51:16      NaN      NaN
2    Запись пользователя № - user_903  2019-01-01 16:31:16      NaN      NaN
3    Запись пользователя № - user_954  2019-01-01 17:17:51      NaN      NaN
4    Запись пользователя № - user_954  2019-01-01 21:31:18      NaN      NaN
..                                ...                  ...      ...      ...
995  Запись пользователя № - user_984   2019-04-20 9:59:58   9754.0      NaN
996                            #error                  nan  10054.0  29265.0
997                            #error                  nan  10454.0      NaN
998                            #error                  nan   1000.0      NaN
999                            #error                  nan  10754.0      NaN

[1000 rows x 4 columns]

In [170]:
# 4.11.9
# Уберите ненужную скобку "[" из поля в time. Результат сохраните в log:
log['time'] = log['time'].str.replace('[', '')
print(log)

                              user_id                 time      bet      win
0    Запись пользователя № - user_919  2019-01-01 14:06:51      NaN      NaN
1    Запись пользователя № - user_973  2019-01-01 14:51:16      NaN      NaN
2    Запись пользователя № - user_903  2019-01-01 16:31:16      NaN      NaN
3    Запись пользователя № - user_954  2019-01-01 17:17:51      NaN      NaN
4    Запись пользователя № - user_954  2019-01-01 21:31:18      NaN      NaN
..                                ...                  ...      ...      ...
995  Запись пользователя № - user_984   2019-04-20 9:59:58   9754.0      NaN
996                            #error                  nan  10054.0  29265.0
997                            #error                  nan  10454.0      NaN
998                            #error                  nan   1000.0      NaN
999                            #error                  nan  10754.0      NaN

[1000 rows x 4 columns]

In [174]:
# 4.12
# Соединим всё, что мы делали, и очистим файл log.csv. А именно:
# прочитаем файл в переменную log;
# ● добавим названия колонок user_id, time, bet, win;
# ● удалим строки, которые содержат значения user_id с ошибками;
# ● оставим в user_id только значения идентификатора;
# ● уберём начальную скобку из поля time.
def user_id_fix(user_id):
    if 'Запись ' in user_id:
        user_id = user_id.replace('Запись пользователя № - ', '')
    elif 'error' in user_id:
        user_id = ''
    return user_id

log = pd.read_csv('csv/b4/log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']
log = log[log.user_id.str.contains('#error', na = True) == False]
log.user_id = log.user_id.apply(user_id_fix)
log['time'] = log['time'].str.replace('[', '')
print(log)

      user_id                 time      bet     win
0    user_919  2019-01-01 14:06:51      NaN     NaN
1    user_973  2019-01-01 14:51:16      NaN     NaN
2    user_903  2019-01-01 16:31:16      NaN     NaN
3    user_954  2019-01-01 17:17:51      NaN     NaN
4    user_954  2019-01-01 21:31:18      NaN     NaN
..        ...                  ...      ...     ...
991  user_965  2019-04-20 12:55:41    800.0  6927.0
992  user_967  2019-04-20 14:59:36  10154.0     NaN
993  user_973  2019-04-20 17:09:56  10254.0     NaN
994  user_977  2019-04-20 18:10:07  10354.0     NaN
995  user_984   2019-04-20 9:59:58   9754.0     NaN

[985 rows x 4 columns]