In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from itertools import combinations
from scipy.stats import ttest_ind
from collections import Counter

pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 50)

log = pd.read_csv('csv/b5/log.csv')
print(len(log))
log.columns = ['user_id', 'time', 'bet', 'win']
log.head(15)

999

,user_id,time,bet,win
0,Запись пользователя № - user_973,[2019-01-01 14:51:16,NaN,NaN
1,Запись пользователя № - user_903,[2019-01-01 16:31:16,NaN,NaN
2,Запись пользователя № - user_954,[2019-01-01 17:17:51,NaN,NaN
3,Запись пользователя № - user_954,[2019-01-01 21:31:18,NaN,NaN
4,Запись пользователя № - user_917,[2019-01-01 23:34:55,156789.0,NaN
5,Запись пользователя № - user_900,[2019-01-01 4:37:25,NaN,NaN
6,Запись пользователя № - user_980,[2019-01-01 6:31:23,NaN,NaN
7,Запись пользователя № - user_906,[2019-01-02 10:57:08,NaN,NaN
8,Запись пользователя № - user_952,[2019-01-02 16:55:06,NaN,NaN
9,Запись пользователя № - user_972,[2019-01-02 20:47:54,NaN,NaN
10,Запись пользователя № - user_966,[2019-01-02 21:32:20,NaN,NaN
11,Запись пользователя № - user_964,[2019-01-02 21:32:35,NaN,NaN
12,Запись пользователя № - user_978,[2019-01-02 5:25:40,NaN,NaN
13,Запись пользователя № - user_917,[2019-01-02 8:57:36,145732.0,1987653.0
14,Запись пользователя № - user_968,[2019-01-02 9:32:24,NaN,NaN

In [2]:
users = pd.read_csv('csv/b5/users.csv', sep='|', encoding='koi8_r') # blyat, wtf with ukr.net???
users.head()

                       Юзверь\tмейл\tГео
0  User_943\tAccumanst@gmail.com\tИжевск
1    User_908\tAdvismowr@mail.ru\tИжевск
2   User_962\tAnachso@ukr.net\tКраснодар
3      User_973\tAntecia@inbox.ru\tПермь
4         User_902\tBalliaryva@ukr.net\t

In [3]:
# 5.1.1
print(log.time.isna().sum())

15

In [4]:
# 5.1.2
print(log.user_id.isna().sum())

0

In [5]:
# 5.1.3
log53 = pd.read_csv('csv/b5/log.csv')
print(len(log))
log53.columns = ['user_id', 'time', 'bet', 'win']
log532 = log53.dropna()
len(log532)

999

133

In [6]:
# 5.2.1
log = pd.read_csv('csv/b5/log.csv')
log.columns = ['user_id', 'time', 'bet', 'win']
print('after csv - ' + str(len(log)))
log521 = log.drop_duplicates(subset = ['user_id', 'time'])
print('after user_id & time - ' + str(len(log521)))

after csv - 999
after user_id & time - 985

In [7]:
# 5.3.1
log = pd.read_csv('csv/b5/log.csv')
log.columns = ['user_id', 'time', 'bet', 'win']
print(log.head(5))
log = log.dropna()  
log.time = log.time.apply(lambda x: x.replace('[', ''))  
log.time = pd.to_datetime(log.time)
#print(log.time.max())

                            user_id                  time       bet  win
0  Запись пользователя № - user_973  [2019-01-01 14:51:16       NaN  NaN
1  Запись пользователя № - user_903  [2019-01-01 16:31:16       NaN  NaN
2  Запись пользователя № - user_954  [2019-01-01 17:17:51       NaN  NaN
3  Запись пользователя № - user_954  [2019-01-01 21:31:18       NaN  NaN
4  Запись пользователя № - user_917  [2019-01-01 23:34:55  156789.0  NaN

In [8]:
# 5.3.2
log = pd.read_csv("csv/b5/log.csv")  
log = log.dropna()  
log.columns = ['user_id', 'time', 'bet', 'win']  
log.time = log.time.apply(lambda x: x[1:])  
log.time = pd.to_datetime(log.time)  
log.time = log.time.apply(lambda x: x.minute)
log.time.head()

13     57
28     59
150    54
188    34
204    26
Name: time, dtype: int64

In [9]:
# 5.4.1
log = pd.read_csv('csv/b5/log.csv')
log = log.dropna()  
log.columns = ['user_id', 'time', 'bet', 'win']
log.time = log.time.apply(lambda x: x.replace('[', ''))  
log.time = pd.to_datetime(log.time)  
log.time = log.time.apply(lambda x: x.minute)
log.time.value_counts()

36    7
57    5
44    5
18    5
35    4
     ..
37    1
39    1
47    1
53    1
27    1
Name: time, Length: 53, dtype: int64

In [10]:
# 5.4.2
log = pd.read_csv('csv/b5/log.csv')
log = log.dropna()  
log.columns = ['user_id', 'time', 'bet', 'win']
log.time = log.time.apply(lambda x: x.replace('[', ''))  
log.time = pd.to_datetime(log.time)  
print(log.head(10))
log.time = log.time.apply(lambda x: x.month)
#year_column = log.time.apply(lambda x: x.year)  
print(log.time)
log.time.value_counts(ascending=True)

                              user_id                time        bet  \
13   Запись пользователя № - user_917 2019-01-02 08:57:36   145732.0
28   Запись пользователя № - user_942 2019-01-04 13:59:42  1678321.0
150  Запись пользователя № - user_982 2019-01-16 21:54:22      100.0
188  Запись пользователя № - user_964 2019-01-21 18:34:44      200.0
204  Запись пользователя № - user_931 2019-01-22 05:26:59      300.0
213  Запись пользователя № - user_905 2019-01-23 03:40:49     8700.0
229  Запись пользователя № - user_907 2019-01-25 02:42:00     9954.0
231  Запись пользователя № - user_998 2019-01-25 08:57:20      500.0
264  Запись пользователя № - user_998 2019-01-29 10:37:55      500.0
293  Запись пользователя № - user_931 2019-02-02 12:34:44      700.0

           win
13   1987653.0
28   9876543.0
150     4749.0
188     4667.0
204     4319.0
213    27068.0
229    29565.0
231     5069.0
264     6294.0
293     6516.0
13     1
28     1
150    1
188    1
204    1
      ..
966    4
970    4
971    4
975    4
990    4
Name: time, Length: 133, dtype: int64

1     9
2    16
4    51
3    57
Name: time, dtype: int64

In [11]:
# 5.4.3
log = pd.read_csv('csv/b5/log.csv')
log.columns = ['user_id', 'time', 'bet', 'win']
log = log.dropna(subset=['time'])# drop all null rows where time value is null
print(len(log))
log.time = log.time.apply(lambda x: x[1:]) # remove the first symbol from each value in time column
log.time = pd.to_datetime(log.time)  
daysOfWeek = log.time.dt.dayofweek.value_counts(ascending=True)
daysOfWeek[5] + daysOfWeek[6]

984

283

In [12]:
# 5.4.4

def hour2value(m):
    if m >= 0 and m <= 5:
        return 'night'
    elif m >=6 and m <= 11:
        return 'morning'
    elif m >=12 and m <= 17:
        return 'day'
    else: 
        return 'evening' 

log = pd.read_csv('csv/b5/log.csv')
log.columns = ['user_id', 'time', 'bet', 'win']
log = log.dropna(subset=['time'])# drop all null rows where time value is null
print(len(log))
log.time = log.time.apply(lambda x: x[1:]) # remove the first symbol from each value in time column
log.time = pd.to_datetime(log.time)  
log.time = log.time.dt.hour.apply(hour2value)
log.time.value_counts(ascending=True)

984

evening    227
day        239
morning    253
night      265
Name: time, dtype: int64

In [13]:
# 5.4.5

log = pd.read_csv('csv/b5/log.csv')
log.columns = ['user_id', 'time', 'bet', 'win']
log = log.dropna(subset=['time'])# drop all null rows where time value is null
print(len(log))
log.time = log.time.apply(lambda x: x[1:]) # remove the first symbol from each value in time column
log.time = pd.to_datetime(log.time)  
log['hour'] = log.time.dt.hour
log.hour.value_counts(ascending=True)

984

7     32
19    33
16    33
11    34
21    35
20    37
15    37
0     37
9     39
23    39
2     40
22    41
13    41
14    41
12    42
18    42
4     43
5     45
17    45
6     47
8     49
3     50
1     50
10    52
Name: hour, dtype: int64

In [14]:
# 5.1
log = pd.read_csv('csv/b5/log.csv')
log.columns = ['user_id', 'time', 'bet', 'win']
log.bet.fillna(0).value_counts()

0.0          514
500.0         50
100.0         48
300.0         42
800.0         42
200.0         40
400.0         40
700.0         38
600.0         37
1000.0        37
900.0         30
9754.0        10
10554.0       10
10154.0        7
10254.0        7
10454.0        6
9954.0         6
10754.0        5
10654.0        5
10354.0        4
10054.0        4
9854.0         2
5000.0         1
27000.0        1
9876.0         1
156789.0       1
12945.0        1
12548.0        1
145732.0       1
1678321.0      1
98753.0        1
123981.0       1
104540.0       1
8700.0         1
950.0          1
8734.0         1
7650.0         1
Name: bet, dtype: int64

In [15]:
# 5.2
def fillna_win(row):
    if row.win > 0: # a gamer won
        return row.win
    elif row.bet > 0: # a gamer lost
        return -row.bet 
    else:
        return 0
    
log.win.value_counts()

6108.0     2
4733.0     2
6621.0     1
7035.0     1
6575.0     1
          ..
29719.0    1
5950.0     1
5387.0     1
5450.0     1
5456.0     1
Name: win, Length: 136, dtype: int64

In [16]:
log = pd.read_csv('csv/b5/log.csv')
log.columns = ['user_id', 'time', 'bet', 'win']

#Применяем функцию  
new_win = log.apply(lambda row: fillna_win(row), axis=1)  
  
# Заменяем старый столбец с пропусками на новый без пропусков  
log.win = new_win 

print(log.win.value_counts())
log.win.apply(lambda win: win < 0).value_counts()

 0.0       514
-100.0      35
-300.0      34
-500.0      33
-600.0      31
          ...
 6359.0      1
 6134.0      1
 5245.0      1
 5066.0      1
 3927.0      1
Name: win, Length: 170, dtype: int64

False    652
True     347
Name: win, dtype: int64

In [17]:
# 5.6
def get_net(row):
    if row.win > 0:
        return row.win - row.bet
    elif row.win == row.bet:
        return row.win
    elif row.win < 0:
        return row.win
    
log = pd.read_csv('csv/b5/log.csv')
log.columns = ['user_id', 'time', 'bet', 'win']
log.bet.fillna(0).value_counts() # replace empty values in bet column
log.win = log.apply(lambda row: fillna_win(row), axis=1) # replace empty value in win column

log['net'] = log.apply(lambda row: get_net(row), axis=1)  
print(log.net.value_counts())
log.net.apply(lambda net: net > 0).value_counts()

-100.0      35
-300.0      34
-500.0      33
-600.0      31
-700.0      30
            ..
 19827.0     1
 4963.0      1
 6026.0      1
 4740.0      1
-5000.0      1
Name: net, Length: 168, dtype: int64

False    861
True     138
Name: net, dtype: int64

In [18]:
# 5.6.2
log[log.net > 0].net.mean()

80253.33333333333

In [19]:
# 5.6.3
log[log.net > 0].net.median()

5347.0

In [20]:
# 5.7.1
round(len(log[log.bet > 0].net) / len(log) * 100, 1)

48.5

In [21]:
# 5.7.2
log[log.bet > 0].bet.mean()

6785.738144329897

In [22]:
# 5.7.3
log[log.bet > 0].net.mean()

20421.892783505155

In [23]:
# 5.7.4
log[log.net < 0].net.mean()

-3372.743515850144

In [24]:
# 5.7.5
len(log[log.net > 0]) - len(log[log.net < 0])

-209

In [25]:
# 5.7.6
log = pd.read_csv('csv/b5/log.csv')
log.columns = ['user_id', 'time', 'bet', 'win']

min_bet = min(log[log.bet > 0].bet)
min_bet_amount = len(log[log.bet == min_bet].bet)
print(min_bet)
print(min_bet_amount)

100.0
48

In [26]:
# 5.8
log = pd.read_csv('csv/b5/log.csv')
log.columns = ['user_id', 'time', 'bet', 'win']

# fix user_id
log.user_id = log.user_id.apply(lambda x: x.lower())  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  

# fix time
log.time = log.time.apply(lambda x: x[1:])
log.time = pd.to_datetime(log.time) 

# fix bet
log.bet = log.bet.fillna(0)

# fix win 
log.win = log.apply(lambda row: fillna_win(row), axis=1)  

log['net'] = log.apply(lambda row: get_net(row), axis=1)  

print(log)

users = pd.read_csv('csv/b5/users.csv', sep='|', encoding='koi8_r')
users.columns = ['mess']

users = pd.DataFrame(users.mess.str.split("\t").tolist(), columns = ['user_id', 'mail', 'location'])
users.user_id = users.user_id.apply(lambda x: x.lower())  
print(users)

      user_id                time       bet       win       net
0    user_973 2019-01-01 14:51:16       0.0       0.0       0.0
1    user_903 2019-01-01 16:31:16       0.0       0.0       0.0
2    user_954 2019-01-01 17:17:51       0.0       0.0       0.0
3    user_954 2019-01-01 21:31:18       0.0       0.0       0.0
4    user_917 2019-01-01 23:34:55  156789.0 -156789.0 -156789.0
..        ...                 ...       ...       ...       ...
990  user_965 2019-04-20 12:55:41     800.0    6927.0    6127.0
991  user_967 2019-04-20 14:59:36   10154.0  -10154.0  -10154.0
992  user_973 2019-04-20 17:09:56   10254.0  -10254.0  -10254.0
993  user_977 2019-04-20 18:10:07   10354.0  -10354.0  -10354.0
994  user_984 2019-04-20 09:59:58    9754.0   -9754.0   -9754.0

[984 rows x 5 columns]
     user_id                      mail     location
0   user_943       Accumanst@gmail.com       Ижевск
1   user_908         Advismowr@mail.ru       Ижевск
2   user_962           Anachso@ukr.net    Краснодар
3   user_973          Antecia@inbox.ru        Пермь
4   user_902        Balliaryva@ukr.net
..       ...                       ...          ...
95  user_959  UpdatesCurious@yahoo.com       Тюмень
96  user_901        V2artierso@mail.ru  Арзангелтск
97  user_970          Vashoterlo@bk.ru      Воронеж
98  user_965       Visuareda@yahoo.com      Воронеж
99  user_921              Aavast@ya.ru       Ижевск

[100 rows x 3 columns]

In [27]:
comb = pd.merge(log, users, on='user_id') 
comb

,user_id,time,bet,win,net,mail,location
0,user_973,2019-01-01 14:51:16,0.0,0.0,0.0,Antecia@inbox.ru,Пермь
1,user_973,2019-01-15 17:04:00,0.0,0.0,0.0,Antecia@inbox.ru,Пермь
2,user_973,2019-01-21 00:29:43,0.0,0.0,0.0,Antecia@inbox.ru,Пермь
3,user_973,2019-01-26 00:23:22,0.0,0.0,0.0,Antecia@inbox.ru,Пермь
4,user_973,2019-01-28 22:46:50,0.0,0.0,0.0,Antecia@inbox.ru,Пермь
...,...,...,...,...,...,...,...
969,user_932,2019-02-24 22:40:06,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
970,user_932,2019-03-15 10:56:14,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
971,user_932,2019-03-18 10:13:24,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
972,user_932,2019-03-27 12:18:24,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
973,user_932,2019-04-18 14:55:26,700.0,6640.0,5940.0,BraceWalker@bk.ru,Красноярск

In [28]:
# 5.9.1
aggr = comb.groupby('user_id').net.sum().median()
aggr

1986.0

In [29]:
# 5.9.2
aggr = round(comb[comb.bet > 0].groupby('user_id').size().mean())
aggr

5

In [68]:
# 5.9.3
agg_min = comb[comb.bet == 0].groupby('user_id').time.min() 
agg_max = comb[comb.bet != 0].groupby('user_id').time.min() 
agg_uni = pd.merge(agg_min, agg_max, on='user_id')
agg_uni.columns = ['min', 'max']
agg_uni['diff'] = agg_uni['max'] - agg_uni['min']
agg_uni['diff'].sum().days / agg_uni['diff'].count()

45.99

In [47]:
aggr_min = comb[comb.bet > 0].groupby('user_id').agg({'time': ['min', 'max']}).diff(axis = 1).mean()
aggr_min

time  min                NaT
      max   40 days 02:37:07
dtype: timedelta64[ns]

In [81]:
# 5.10.1
aggr = comb.groupby('location').win.sum().reset_index()
aggr = aggr.sort_values('win', ascending=False)
aggr

           location         win
8            Москва  11379755.0
2           Воронеж    107514.0
10  Санкт-Петербург    105345.0
5            Казань     75352.0
14        Ярославль     46845.0
0                       41561.0
4            Ижевск     34479.0
13        Хабаровск     33451.0
3      Екатеринбург     28582.0
7        Красноярск     27397.0
1       Арзангелтск     25813.0
9             Пермь     19518.0
6         Краснодар      3248.0
11       Ставрополь       487.0
12           Тюмень      -499.0

In [95]:
# 5.10.2
mmin = comb[comb.bet > 0].groupby('location').bet.mean().min()
mmax = comb[comb.bet > 0].groupby('location').bet.mean().max()
diff = mmax / mmin
diff

127.81602335164835

In [98]:
# 5.10.3
sample2 = comb.groupby('location').user_id.count()
sample2

location
                    25
Арзангелтск         96
Воронеж             88
Екатеринбург        49
Ижевск              61
Казань              66
Краснодар           86
Красноярск          56
Москва              61
Пермь               55
Санкт-Петербург    115
Ставрополь          36
Тюмень              32
Хабаровск           59
Ярославль           89
Name: user_id, dtype: int64